.passport-info {

    background-color: rgb(95, 142, 189);
    width: 100px;
    height: 30px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgba(0,0,0,.7);
}
.box {
    height: 100%; 
    text-align: center; 
    display: flex; 
    align-items: center; 
    margin: 0 auto;
}